
WpfApp2/WpfApp2/WpfApp2/obj/Release/netcoreapp3.1/PlotterDataGH.csproj.FileListAbsolute.txt

WpfApp2/WpfApp2/WpfApp2/obj/Release/netcoreapp3.1/PlotterDataGH.csproj.CoreCompileInputs.cache

WpfApp2/WpfApp2/WpfApp2/obj/Release/netcoreapp3.1/PlotterDataGH.csprojAssemblyReference.cache
